<!-- myapp/templates/create_blogpost.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/registration.css' %}">
</head>
<body>

<h2>Registration page</h2>

<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}

    <label for="first_name">name</label>
    <input type="text" id="id_first_name" name="first_name" required>

    <br>

    <label for="last_name">surname</label>
    <input type="text" id="id_last_name" name="last_name" required>

    <br>

    <label for="username">username</label>
    <input type="text" id="id_username" name="username" required>

    <br>

    <label for="password">password</label>
    <input type="text" id="id_password" name="password" required>

    <br>
    <label for="group">group</label>
    <input type="text" id="id_group" name="group" required>

    <br>
    <button type="submit">Create New User</button>
</form>

<h2>Create New Group</h2>

<form method="post" action="{% url 'group_registration' %}">
    {% csrf_token %}

    <label for="group">number</label>
    <input type="text" id="id_group" name="group_number" required>

    <button type="submit">Create New Group</button>
</form>

</body>
</html>
