<!-- myapp/templates/create_blogpost.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Blog Posts</title>
</head>
<body>

<h2>Show Blog Posts</h2>
{% for object in all_objects%}
<label for="id_title">{{object.title}}</label>
<h3 id="id_title" name="title"></h3>

<br>

<label for="id_body">{{object.body}}</label>
<h3 id="id_body" name="body"></h3>

<br>

<label for="id_timestamp">{{object.timestamp}}:</label>
<h3 id="id_timestamp" name="timestamp"></h3>
{% endfor%}

</body>
</html>
