<!-- myapp/templates/create_blogpost.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Blog Posts</title>
        {% load static %}
        <link rel="stylesheet" href="{% static './css/styles.css' %}">
    </head>
<body>

<h2>Книги русских писателей</h2>
<div class="search-container">
    <h2>Поиск по названию</h2>
    <form action="{% url 'show_results' %}" method="get">
        <input id="search-input" type="text" name="query" placeholder="Впишите название книги">
        <button type="submit">Поиск</button>
    </form>
</div>
<div class="blog-container">

    {% for object in all_objects %}
        <div class="blog-card">
            <h3 class="blog-title">{{ object.title }}</h3>
            <p class="blog-body">{{ object.body }}</p>
            <p class="blog-timestamp">Опубликовано: {{ object.timestamp }}</p>
        </div>
    {% endfor %}
</div>

</body>
</html>
