/* your_app/static/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

h2 {
    color: #333;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.blog-title {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.blog-body {
    color: #555;
    margin-bottom: 10px;
}

.blog-timestamp {
    color: #777;
    font-size: 0.8em;
}

.search-container {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}